# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Code review using ESLint
        uses: moneyforward/eslint-action@v0.0.3

      - name: Docker Compose Action
        uses: hoverkraft-tech/compose-action@v2.4.2

      - name: Wait for 10 seconds
        run: sleep 10

      - name: Smoke test via NGINX
        run: |
          curl -f https://localhost:8443 || exit 1

      - name: Show logs on failure
        if: failure()
        run: docker compose logs

      - name: Shutdown containers
        if: always()
        run: docker compose down
